.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}

    .container .block {
        padding: 20px;
        color: white;
        font-size: 4em;
        font-weight: bold;
        text-align: center;
    }

    .block.block1 {
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: deeppink;

    }


    .block.block2 {
        grid-row-start:2;
        grid-row-end:4;
        background-color: mediumpurple;

    }

    .block.block3 {
    grid-column: span 1;
        grid-row: span 1;
        background-color: dodgerblue;
    }

    .block.block4 {
    grid-column: span 1;
        grid-row: span 1;
        background-color: aquamarine;

    }

    .block.block5 {
    grid-column-start: 2;
        grid-column-end: 4;
        background-color: hotpink;
    }

    .block.block6 {
    grid-column-start: 1;
        grid-column-end: 3;
        background-color: mediumvioletred;
    }

    .block.block7 {
    grid-column-start: 3;
        grid-column-end: 4;
        background-color: mediumpurple;
    }

    .block.block8 {
    grid-column-start: 1;
        grid-column-end: 4;
        background-color: mediumpurple;
    }

