.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(3, auto);

}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}