Body {
    font-family: helvetica;

}
header{
    color:#8D99AE;
    background-color:#2B2D42;
    padding:30px;
    margin-bottom: 10px;
}
footer{
    background-color:#2B2D42;
    padding: 30px;
    margin-top: 10px;
    color: #8D99AE
}
.education{
    background-color:#8D99AE;
    padding:30px;
}
h1{
    font-size: 80px;

}
h2{
    font-size: 40px;
}
header h1 ,header h2{
    color: #EDF2F4;
}

a {
    color: #EF233C;
}
