body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
section {
    width: 95%;
    margin: 0 auto;
    background: #fff;
}

header h1 {
    background-image: url('../Images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 125px;
    display: flex;
    align-items: flex-end;
    padding-left: 22px;
    padding-bottom: 10px;

}

header h1 {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #222;
    margin: 0;
}

nav {
    background: #333;
    color: #fff;

    padding: 5px 10px;
    font-size: 1em;
    margin:0;
}

nav a {
    color: #91ff91;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

article {
    background: #f5f5f5;
    padding: 30px 20px 10px 30px;
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
}

article header h2 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 8px 0;
    text-decoration: underline;
}

article p {
    color: #222;
    margin-top: 0;
    font-size: 1em;
}

article a {
    color: #020291;
    font-size: 0.95em;
    text-decoration: underline;
}

footer {
    width: 95%;
    margin: 0 auto 12px auto;
    font-size: 0.9em;
    color: #333;
    text-align: left;
}


