body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: 8px 12px;
}


caption {
    background: rgb(170,170,200);
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}


thead th {
    background: rgb(35,37,70);
    color: rgb(200,190,240);
}


tbody tr td:first-child,
tbody tr td:last-child {
    background: rgb(255,220,220);
}


.othermonth {
    color: grey;
    background: #eee;
}


.feestdag {
    background: rgb(250,120,120) !important;
}