
body {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

h1, h2 { margin: 0 0 10px 0; }
h2 { font-size: 1.8em; }


header h1 {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}


section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}


ul li, ol li { margin-bottom: 8px; }


a { color: #020291; text-decoration: underline; }


img { max-width: 100%; height: auto; border-radius: 6px; }


table { border-collapse: collapse; width: 100%; margin-top: 10px; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: center; }
th { background-color: #4a90e2; color: white; }


footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
