article {
    font-size: 1.25em;
    overflow: hidden;
    border: 1px black solid;
    margin: 10px;
}


article img {
    margin: 0 10px 10px 0;
    vertical-align: middle;
}


article:nth-child(even) img {
    float: right;
    margin-right: 10px;
    margin-left: 0;
}


article:nth-child(odd) img {
    float: left;
    margin-left: 10px;
    margin-right: 0;
}





