body{
    width:95%;
    margin: 0 auto;
    font-family: arial, helvetica,sans-serif;
}

header{
    background-image: url("../Images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
header .p1{
    text-align: center;
    color: darkblue;
    font-size: 300%;
}
header .p2{
    text-align: center;
    color: darkblue;
    font-size: 150%;
}

header img{
    position: relative;
    right: 250px;
    bottom: 60px;
    width: auto;
    height: 100px;
    z-index: 2;
}



aside{
    background-color: #dddddd;
    border: 1px solid #999999;
    width: 25%;
    float: right;
    box-sizing: border-box;
}



aside .gewonetekst{
    font-size: 90%  ;
    color: #666666;
    margin: 10px;
}

aside .koppen{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}


main{
    width: 70%;
    float: left;
    margin-right: 10px;
    box-sizing: border-box;

}


.foto\.div{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 150px;
    height: auto;
    float: left;
}

article{
    background-color: white;
    color: black;
    text-align: left;
    margin: 20px 30px 20px 0;   
    padding: 10px 15px;
}

article span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

section img {
   width: 180px;
    height: 180px;
    background-color: #999999;

}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #999999;
}



section img{
    width: 180px;
    height: 180px;
    background-color: #999999;

    padding: 10px;
    border: dotted white;

    background-clip: content-box;
    margin: 20px;
    box-sizing: content-box;

}

.footer-columns
{
    float: left;
    margin-right: 40px;
}

footer{
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;
    padding: 10px 0 10px 120px;
}

/* links in de footer */
footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: red;
}

#copyright{
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    font-size: 90%;
    margin: 0;
}





