/* Algemene blokstijlen zoals in het labo */
.row > div {
    padding: 30px;            /* grote blokken zoals voorbeeld */
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;   /* dunne grijze rand zoals PDF */
}

/* Wit en lichtgrijs afwisselend */
.row > div:nth-child(odd) {
    background-color: #ffffff;   /* wit */
}

.row > div:nth-child(even) {
    background-color: #f2f2f2;   /* lichtgrijs zoals in PDF */
}